<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.co.drgem.managingapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_app_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.ManagingApp">
        <activity
            android:name=".menu.request.activity.RequestDetailActivity"
            android:exported="false" />
        <activity
            android:name=".menu.kitting.activity.KittingDetailActivity"
            android:exported="false" />
        <activity
            android:name=".menu.order.activity.OrderDetailDetailActivity"
            android:exported="false" />
        <activity
            android:name=".menu.stock.activity.StockActivity"
            android:exported="false" />
        <activity
            android:name=".menu.location.activity.LocationActivity"
            android:exported="false" />
        <activity
            android:name=".menu.notdelivery.activity.NotDeliveryActivity"
            android:exported="false" />
        <activity
            android:name=".menu.request.activity.RequestActivity"
            android:exported="false" />
        <activity
            android:name=".menu.kitting.activity.KittingActivity"
            android:exported="false" />
        <activity
            android:name=".menu.order.activity.OrderActivity"
            android:exported="false" />
        <activity
            android:name=".menu.transaction.activity.TransactionActivity"
            android:exported="false" />
        <activity
            android:name=".MenuActivity"
            android:exported="false"/>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>